html {
  font-family: sans-serif;
}

/* input[type="radio"], */
input[type="checkbox"] {
  appearance: none;

  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;

  position: relative;
  top: 4px;
}
/* input[type="radio"] {
  border-radius: 50%;
} */
input:hover,
label:hover {
  cursor: pointer;
}
input:checked {
  border: 8px solid black;
}

button,
legend {
  color: white;
  background-color: black;
  padding: 5px 10px;
  border-radius: 0;
  border: 0;
  font-size: 14px;
}

button:hover,
button:focus {
  color: #999;
  cursor: pointer;
}

button:active {
  background-color: white;
  color: black;
  outline: 1px solid black;
}

.container {
  margin-left: auto;
  width: fit-content;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.checkout-button {
  padding: 1rem;
}
.order-button {
  padding: 0.75rem;
}
.order-item-name {
  font-size: 0.9rem;
  color: #777;
}
